@import "../theme";
@import "../../node_modules/sass-mq/mq.scss";

.button-widget__button {
  display: inline-block;
  margin: 0.5em auto;
  min-width: 80%;
  overflow: visible;

  @include mq(tablet) {
    min-width: 32%;
  }
}
