.location {
  button {
    &::-moz-focus-inner {
      border-style: none;
      padding: 0;
    }
    text-transform: none;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 3px;
    background: 0 0;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    line-height: 1;
    cursor: auto;
    overflow: visible;
    &.button {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 1rem 0;
      padding: 0.85em 1em;
      border: 1px solid transparent;
      border-radius: 3px;
      -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
      transition: background-color 0.25s ease-out, color 0.25s ease-out;
      font-family: inherit;
      font-size: 0.9rem;
      -webkit-appearance: none;
      line-height: 1;
      text-align: center;
      cursor: pointer;
      background-color: #204763;
      color: #fff;
      &:hover,
      &:focus {
        background-color: #1b3c54;
        color: #fff;
      }
      span {
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.25rem;
      }
    }
    &:focus,
    &.button:focus {
      outline: 0;
    }
  }
  .button.alert {
    background-color: #c60f13;
    color: #fff;
    &:hover,
    &:focus {
      background-color: #9e0c0f;
      color: #fff;
    }
  }
  .button.success {
    background-color: #5da423;
    color: #fff;
    &:hover,
    &:focus {
      background-color: #4a831c;
      color: #fff;
    }
  }
  i {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-decoration: inherit;
    vertical-align: middle;
    &.fi-marker {
      background: transparent url(location-marker.svg) no-repeat center center;
      background-size: contain;
    }
  }
  span.location-errors {
    font-family: "Roboto", DejaVu Sans, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 90%;
    line-height: 1;
    color: #666;
    display: block;
    margin-top: -0.5rem;
    &:empty {
      display: none;
    }
  }
}
