$theme-colors: ("primary": rgb(226, 19, 125));

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

.app-content {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #efefef;
  min-height: 100vh;
}
