@import "theme";
@import "../node_modules/sass-mq/mq.scss";

.card {
  padding: 15px 0;
  margin: 15px;

  @include mq(tablet) {
    padding: 60px 0;
    margin: 100px auto 60px auto;
    width: 640px;
  }
}

.card__footer {
  margin-top: 2em;
  text-align: center;
  font-size: 0.8em;

  &--data-privacy {
    color: gray;
  }
}

.card__logo {
  width: 150px;
  position: absolute;
  margin-left: 50%;
  left: -75px;
  top: -55px;

  @include mq(tablet) {
    width: 200px;
    left: -100px;
    top: -100px;
  }
}
