@import "theme";
@import "../node_modules/sass-mq/mq.scss";

.card {
  padding: 50px 15px 30px 15px;
  margin: 15px;

  @include mq(tablet) {
    padding: 80px 60px 60px 60px;
    margin: 100px auto 60px auto;
    width: 640px;
  }
}

.footer {
  width: 100%;
  margin-top: 2em;
  text-align: center;
  font-size: 0.8em;

  a {
    color: gray;
  }
}

.card__logo {
  width: 95px;
  position: absolute;
  margin-left: 50%;
  left: -55px;
  top: -50px;

  @include mq(tablet) {
    width: 200px;
    left: -100px;
    top: -100px;
  }
}
