.form-wizard {
  padding: 20px;
  margin-top: 50px;
}

@media (max-width: 640px) {
  .form-wizard-transition-container .card {
    width: 100% !important;
  }
}

.card {
  width: 640px;
  margin: 0 auto;
  padding: 20px 0;
  margin-top: 100px;
}

.form-wizard-transition-container {
  display: block;
  position: relative;
  width: 100%;
}

.form-wizard-transition-enter {
  opacity: 0.01;
}

.form-wizard-transition-enter.form-wizard-transition-enter-active {
  opacity: 1;
  transition: all 800ms;
}

.form-wizard-transition-leave {
  opacity: 0.1;
}

.form-wizard-transition-leave.form-wizard-transition-leave-active {
  opacity: 0;
  transition: all 400ms;
  position: absolute;
  top: 0;
}

.investigation-logo {
  width: 200px;
  position: absolute;
  left: calc(50% - 100px);
  top: -100px;
}
