.form-transition-enter {
  transform: translateX(100vw);
  opacity: 0.01;
}

.form-transition-enter.form-transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms ease-in;
}

.form-transition-leave {
  transform: translateX(0);
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 1;
}

.form-transition-leave.form-transition-leave-active {
  opacity: 0.01;
  transform: translateX(-100vw);
  transition: all 300ms ease-in;
}

.form-transition-container {
  position: relative;
  width: 100%;
}
