@import "theme";
@import "../node_modules/sass-mq/mq.scss";

.form-wizard__transition-container {
  display: block;
  position: relative;
  width: 100%;

  .slide-title {
    font-family: "Roboto", DejaVu Sans, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #152934;
    text-align: center;

    @include mq(tablet) {
      font-size: 2.6rem;
    }
  }
}

.form-wizard__transition-enter {
  opacity: 0.01;
}

.form-wizard__transition-enter.form-wizard__transition-enter-active {
  opacity: 1;
  transition: all 1300ms;
}

.form-wizard__transition-leave {
  opacity: 0.1;
}

.form-wizard__transition-leave.form-wizard__transition-leave-active {
  opacity: 0;
  transition: all 1ms;
  position: absolute;
  top: 0;
}

.form-wizard__form {
  margin-top: 30px;
  // text-align: center;

  .field-description {
    font-size: 125%;
    line-height: 1.6;
    margin-bottom: 1.5em;
  }

  .control-label {
    font-weight: bold;
    font-size: 100%;
    color: #152934;
    line-height: 1.8;
    display: block;
    text-align: left;
  }

  input[type="text"].form-control {
    display: block;
    width: 100%;
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: 0.5rem;
    border: 1px solid #cacaca;
    border-radius: 3px;
    background-color: #fefefe;
    // -webkit-box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    // box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0a0a0a;
  }

  .field-radio-group {
    text-align: left;
    // padding-left: 35%;
  }

  .radio input {
    margin-right: 0.5em;
  }

  .help-block {
    color: #999999;
    margin-top: 1em;
    // padding: 0 10%;
  }

  .error-detail {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .file-upload {
    // style input label to look like a button:
    label {
      color: #fff;
      background-color: $color-primary;
      border-color: $color-primary;
      padding: 0.5rem 1rem;
      border-radius: 0;
      font-weight: normal;
      font-size: 1.25rem;
      line-height: 1.5;
      cursor: pointer;
    }

    // hide input while maintaining functionality:
    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .checkbox {
    position: relative;
    padding-left: 1.25rem;
    margin: 0 auto;
    text-align: left;

    @include mq(tablet) {
      width: 80%;
    }

    input {
      display: block;
      position: absolute;
      left: 0;
      top: 0.25rem;
    }

    label {
      display: block;
    }
  }
}

/* Hack to disable the old slide title */
#root__title {
  display: none;
}
